stages:
  - publish
  - deploy
  - release
  - notification

include:
  - remote: # тут внутренние url

variables:
  IMAGE_NAME: # тут имя образа
  PUSH_TO_PUBLIC_REGISTRY: "false"

publish configs:
  extends:
    - .publish_service_configs

build image:
  extends:
    - .build_image
    - .build_image_python

update configuration on dev:
  variables:
    TARGET_BRANCH: # тут имя дев-ветки
  extends:
    - .trigger_pipeline_configurations_deploy_k8s_develop

send notification to rocket chat:
  variables:
    SERVICE: # тут имя сервиса
    EMOJI: ":rice:" # рис люблю
  extends:
    - .send_to_rocket_chat_on_tag
    - .service_release_message

send project updates notification to rocket chat:
  variables:
    MESSAGE: "`${CI_PROJECT_NAME}` обновлен на дев-стенде с изменениями `${CI_COMMIT_TITLE}`"
  extends:
    - .project_updates_message
